.line-division{
    background-color: #e3f2fd;
    height: 10px;
}

.size-logo{
    height: 80px;
    width: 80px;
}
.descrip-hipo{
    font-family: 'Lobster', cursive;
    display: inline-flex;
}

.location-page{
    float: right;
}

